# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/ListaSwitchCase/nbproject/private/
/ListaSwitchCase/build/
/Coisas/nbproject/private/
/Coisas/build/
/MediaComSubustituicao/nbproject/private/
/MediaComSubustituicao/build/
/DoacaoDeSangue/nbproject/private/
/DoacaoDeSangue/build/
/MelhorCombustivel/nbproject/private/
/MelhorCombustivel/build/
/Teste/nbproject/private/
/ListaLaçoRepetiçao/nbproject/private/
/ListaLaçoRepetiçao/build/
/SomaDigitos2/nbproject/private/
/SomaDigitos2/build/
/Adivinha2/nbproject/private/
/Adivinha2/build/
/ExerciciosX/nbproject/private/
/ExerciciosX/build/
/Conecta4/nbproject/private/
/Conecta4/build/